:root {
  --primary-color: #21598e;
  --light-color: #f8f9fa;
  --dark-color: #212529;
  --text-color: #6c757d;
  --light-text-color: #c4cbd1;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
