
.container {
    padding: 3rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    max-width: 800px;
    color: var(--dark-color);
    text-align: center;
    
    .content {
        margin-top: 2rem;

        .calendar {
            text-align: center;

            .calendarHeader {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 1rem;
                text-transform: uppercase;
                color: var(--primary-color);
                border-bottom: 1px solid var(--primary-color);
                padding-bottom: 1rem;

                & h2 + h2 {
                    margin-left: 0.5rem;
                    padding-left: 0.5rem;
                    border-left: 1px solid var(--primary-color);
                }

                .month {
                    font-size: 2rem;
                    font-weight: bold;
                }

                .year {
                    font-size: 1.5rem;
                }
            }

            .calendarBody {
                display: flex;
                grid-gap: 1rem;

                .calendarContent + .calendarContent {
                    border-left: 1px solid var(--light-color);
                    padding-left: 0.5rem;
                }
            
                .calendarContent {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 1rem;

                    .calendarDaysWeek {
                        display: grid;
                        grid-template-columns: repeat(7, 1fr);
                        
                        .calendarDaysWeekItem {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            color: var(--primary-color);
                            height: 48px;
                            width: 48px;
                            text-align: center;
                            text-transform: uppercase;
                        }
                    }

                    .calendarDaysOfMonth {
                        display: grid;
                        grid-template-columns: repeat(7, 1fr);

                        .calendarDaysOfMonthItem {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            color: var(--primary-color);
                            height: 48px;
                            width: 48px;
                            text-align: center;

                            &.lastOrNextMonthDay {
                                color: var(--light-text-color);
                            }
                        }
                    }
                }
            }
        }
    }
}